.top-menu {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1500px;

  .image {
    width: 150px;
    height: 100%;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
  .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;

    button {
      margin: 5px;
    }
  }
}

.mobile {
  flex-wrap: wrap;
  justify-content: space-between;

  .image {
    width: 100px;
  }

  .buttons {
    padding: 5px;
    flex-wrap: wrap;
  }
}

.vertical {
  display: flex;
  flex-direction: column !important;

  button {
    margin: 5px 30px;
    border: none;
    font-size: 18px;
  }
}
