<section>
  <div class="top-menu" [ngClass]="{ mobile: isMobile }">
    <div class="image" *ngIf="!isMobile">
      <img src="assets/images/logo.png" alt="logo" />
    </div>

    <div class="buttons">

      <button mat-icon-button aria-label="Search"
        routerLink="/search"
      >
        <mat-icon>search</mat-icon>
      </button>

      <button mat-stroked-button routerLink="/">
        {{ "topMenu.home" | translate }}
      </button>

      <!--    <button mat-stroked-button color="primary">{{'topMenu.forum' | translate}}</button>-->
      <!--    <button mat-stroked-button>{{'topMenu.articles' | translate}}</button>-->

      <button
        *ngIf="!authService.isAuthorized"
        mat-stroked-button
        routerLink="/login"
      >
        {{ "topMenu.login" | translate }}
      </button>
      <button
        *ngIf="!authService.isAuthorized"
        mat-flat-button
        routerLink="/registration"
      >
        {{ "topMenu.signUp" | translate }}
      </button>


      <button
        *ngIf="authService.isAuthorized"
        mat-stroked-button
        routerLink="/profile"
      >
        {{ "topMenu.profile" | translate }}
      </button>

      <button
        *ngIf="authService.isAuthorized"
        mat-stroked-button
        color="warn"
        (click)="logout()"
      >
        {{ "topMenu.logout" | translate }}
      </button>

      <button mat-stroked-button (click)="changeLanguage()">
        {{ currentLanguage }}
      </button>
    </div>
  </div>
</section>
