@import "src/app/theme/utils";

.top-menu {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;

  .avatar {
    border: 3px solid @fifthColor;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 14px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      clip-path: circle(18px at center);
    }
  }

  .avatar:hover {
    opacity: 0.8;
  }

  .image {
    width: 150px;
    height: 100%;
    display: flex;
    cursor: pointer;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }

  .image-mobile {
    width: 100px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin: 0 5px;
    }
  }

  .buttons-mobile {
    width: 100%;

    button {
      margin: 0 !important;
    }
  }
}
