@import "src/app/theme/utils";

.top-menu {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: 1100px;

  .avatar {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0 14px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      clip-path: circle(15px at center);
    }
  }

  .avatar:hover {
    opacity: 0.8;
  }

  .image {
    width: 150px;
    height: 100%;
    cursor: pointer;

    img {
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
  .buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;

    button {
      margin: 0 10px;
    }
  }

  .menu-button {
    margin: 6px;
  }
}
