@import "src/app/theme/utils";

body {
  padding: 0;
}

html {
  --mdc-elevated-card-container-shape: 20px;
  --mdc-outlined-card-container-shape: 20px;
  --mdc-outlined-card-outline-width: 1px;
  --mdc-outlined-button-container-shape: 20px;
  --mat-stepper-header-hover-state-layer-shape: 20px;
  --mat-stepper-header-focus-state-layer-shape: 20px;
  --mat-slider-value-indicator-border-radius: 20px;
  --mat-stepper-header-height: 60px;
  --mdc-shape-small: 20px;
  --mdc-outlined-button-outline-color: @secondColor;
  --mdc-outlined-button-outline-width: 2px;

  --mdc-outlined-text-field-error-outline-color: @errorColor;

  --mdc-outlined-text-field-focus-outline-color: @secondColor;
  --mdc-outlined-text-field-focus-outline-width: 2px;
  --mdc-outlined-text-field-outline-width: 2px;

  --mdc-filled-button-container-color: @secondColor;
  --mdc-filled-button-label-text-color: @backgroundColor;
  --mdc-filled-button-container-shape: 20px;

  --mdc-fab-small-container-shape: 10px;
  --mat-menu-container-shape: 10px;

  // snackbar
  --mdc-snackbar-container-color: @secondColor;
  --mdc-snackbar-container-shape: 20px;
  --mdc-snackbar-supporting-text-size: 20px;
  --mdc-snackbar-supporting-text-weight: 500;
  --mat-snack-bar-button-color: @backgroundColor;
  // tooltip
  --mdc-plain-tooltip-container-color: @secondColor;
  --mdc-plain-tooltip-supporting-text-size: 16px;
  --mdc-plain-tooltip-container-shape: 10px;
  --mdc-plain-tooltip-supporting-text-weight: 500px;
  --mdc-plain-tooltip-supporting-text-color: @firstColor;
  --mdc-plain-tooltip-supporting-text-line-height: 20px;

  color: @thirdColor;
  font-size: 16px;

  .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-small-container-color: @secondColor;
  }

  .mat-mdc-fab.mat-accent {
    --mdc-fab-container-color: @secondColor;
  }

  .cdk-overlay-connected-position-bounding-box {
    padding: 10px;
  }
}

:root {
  --ngx-editor-border-radius: 20px !important;
  --ngx-editor-border-color: @secondColor !important;
  --ngx-editor-text-color: @secondColor !important;
  --ngx-editor-menubar-bg-color: @backgroundColor !important;
  --ngx-editor-icon-size: 35px !important;
  --ngx-editor-popup-border-radius: 20px !important;
  --ngx-editor-bubble-bg-color: @secondColor !important;
  //--ngx-editor-bubble-text-color: @secondColor !important;
}


.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}

.mat-mdc-form-field {
  display: block;
}

.mdc-card {
  border-width: 1px !important;
  border-color: @fifthColor !important;
}

.snack-bar {
  text-align: center;
}
