body {
  padding: 0;
}

html {
  --mdc-elevated-card-container-shape: 20px;
  --mdc-outlined-card-container-shape: 20px;
  --mdc-outlined-card-outline-width: 2px;
  --mdc-outlined-button-container-shape: 20px;
  --mat-stepper-header-hover-state-layer-shape: 20px;
  --mat-stepper-header-focus-state-layer-shape: 20px;
  --mat-slider-value-indicator-border-radius: 20px;
  --mat-stepper-header-height: 60px;
  --mdc-shape-small: 20px;
  --mdc-outlined-button-outline-color: @secondColor;
  --mdc-outlined-button-outline-width: 2px;

  --mdc-outlined-text-field-focus-outline-color: @secondColor;
  --mdc-outlined-text-field-focus-outline-width: 2px;
  --mdc-outlined-text-field-outline-width: 2px;

  --mdc-filled-button-container-color: @secondColor;
  --mdc-filled-button-label-text-color: @backgroundColor;
  --mdc-filled-button-container-shape: 20px;
  color: @thirdColor;
}


.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}

.mat-mdc-form-field {
  display: block;
}

.mdc-card {
  border-width: 2px !important;
  border-color: @secondColor !important;
}
