// THEME COLOR
@firstColor: #e8e1d5;
@secondColor: #585653;
@thirdColor: #76716c;
@fourthColor: #948d86;
@fifthColor: #b2a9a0;

@backgroundColor: #f8f7f4;

@errorColor: #f44336;
@successColor: #4caf50;
@warningColor: #ff9800;
@infoColor: @fifthColor;
@primaryColor: @thirdColor;
@accentColor: #ffd740;
