:root {
  --first-color: #1c1c1c;
  --second-color: #232324;
  --third-color: #948d86;
  --fourth-color: #b2a9a0;
  --fifth-color: #e8e1d5;
  --bg-color: #1c1c1c;
  --text-color: #b2a9a0;
  --skeleton-bg-color: #585653;
}

body[data-theme="light"] {
  --data-theme: light;
  --first-color: #f8f7f4;
  --second-color: #FFF;
  --third-color: #747474;
  //--third-color: grey;
  --fourth-color: #76716c;
  --fifth-color: #585653;
  --bg-color: #F2F2F2;
  --text-color: #1c1c1c;
  --skeleton-bg-color: #b2a9a0;
  --bg-color-with-opacity: rgba(242, 242, 242, 0.7);
  --light-color: #f8f7f4;
  --shadow-color: #b2a9a0;
}

body[data-theme="dark"] {
  --data-theme: dark;
  --first-color: #1c1c1c;
  --second-color: #232324;
  --third-color: #333;
  --fourth-color: #b2a9a0;
  --fifth-color: #e8e1d5;
  --bg-color: #1c1c1c;
  --text-color: #c9cccf;
  --skeleton-bg-color: #585653;
  --bg-color-with-opacity: rgba(35, 35, 36, 0.7);
  --light-color: #c9cccf;
  --shadow-color: #343435;
}

// THEME COLOR
@firstColor: var(--first-color);
@secondColor: var(--second-color);
@thirdColor: var(--third-color);
@fourthColor: var(--fourth-color);
@fifthColor: var(--fifth-color);
@dataTheme: var(--data-theme);
@lightColor: var(--light-color);
@shadowColor: var(--shadow-color);


@textColor: var(--text-color);
@backgroundColor: var(--bg-color);
@backgroundColorWithOpacity: var(--bg-color-with-opacity);

//@errorColor: #f44336;
@errorColor: @warningColor;
@successColor: #4caf50;
@warningColor: #9b1750;


