<div class="content" [ngClass]="{mobile: isMobile}">

  <div class="filter">
    <h2>{{ 'commentList.title' | translate : {count: totalRows} }}</h2>
    <button mat-icon-button (click)="reorder()" [disabled]="!authService.isAuthorized">
      <mat-icon class="filter-icon" [ngClass]="{'rotate': direction == 'ASC'}">
        filter_list
      </mat-icon>
    </button>
  </div>
  <form [formGroup]="formGroup" (click)="textareaFocus()" *ngIf="authService.isAuthorized">
    <div *ngIf="parent" class="in-response-to" [@opacity-2]>
      <p [innerHTML]="'commentList.inResponseTo' | translate : {content: parent.content, nickname: parent.nickname}"></p>
    </div>
    <mat-form-field appearance="outline">
        <textarea
          #focusField
          matInput
          maxlength="{{maxLength}}"
          [placeholder]="'commentList.placeholder' | translate"
          [cdkTextareaAutosize]="true"
          formControlName="content">
        </textarea>
      <mat-error *ngIf="hasErrors">
        {{ getErrors('content') }}
      </mat-error>
    </mat-form-field>
    <div class="comment-footer">
      <div>
        <button mat-flat-button

                type="button"
                color="warn"
                (click)="cancel()"
                *ngIf="parent"
        >
          {{ 'commentList.cancelButton' | translate }}
        </button>

        <button mat-stroked-button
                type="button"
                (click)="submit()"
                *ngIf="formGroup.get('content')?.value"
                [@opacity-2]>
          {{ 'commentList.sendButton' | translate }}
        </button>
      </div>

      <span>
          {{ contentLength }}/{{ maxLength }}
        </span>
    </div>
  </form>

  <br>

  <ng-container [ngSwitch]="state">

    <ng-container
      *ngSwitchCase="'loading'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'empty'"
      [ngTemplateOutlet]="empty"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="data">
    </ng-container>
  </ng-container>
</div>

<ng-template #data>
  <div class="comments">
    <div class="comment"
         *ngFor="let it of items; let i = index"
         [ngClass]="{'odd': i % 2 == 0, 'even': i % 2 == 1}">
      <div class="vote">
        <!--        <button mat-icon-button>-->
        <!--          <mat-icon>expand_less</mat-icon>-->
        <!--        </button>-->
        <!--        <button mat-icon-button>-->
        <!--          <mat-icon>expand_more</mat-icon>-->
        <!--        </button>-->
      </div>
      <div>
        <div class="comment-header">
          <h2 class="author-name"
              [routerLink]="'/search'"
              [queryParams]="{q: it.nickname, author: true}">
            {{ it.nickname }}
          </h2>
        </div>
        <div class="comment-content">
          <span>
            {{ it.date | date : "d MMM y HH:mm" }}
          </span>
          <br>
          <br *ngIf="it.parent">
          <span *ngIf="it.parent"
                [innerHTML]="'commentList.inResponseTo' | translate : {content: it.parent.content, nickname: it.parent.nickname}">

          </span>
          <br>
          <p [innerHTML]="it.content | safeHtml"></p>
        </div>
        <button mat-icon-button
                (click)="reply(it)"
                [matTooltip]="'commentList.replyTooltip' | translate"
                [matTooltipShowDelay]="1500"
                *ngIf="it.actions?.canReply">
          <mat-icon>reply</mat-icon>
        </button>
        <button mat-icon-button
                (click)="delete(it)"
                [matTooltip]="'commentList.deleteTooltip' | translate"
                [matTooltipShowDelay]="1500"
                *ngIf="it.actions?.canDelete">
          <mat-icon>
            delete
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="load-more" *ngIf="canLoadMore || loadMoreProgress">
    <button mat-flat-button (click)="loadMore()" *ngIf="!loadMoreProgress">
      {{ 'searchPage.loadMore' | translate }}
    </button>
    <br>
    <br>
    <div class="progress-bar-container" *ngIf="loadMoreProgress">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
    <br>
    <br>
  </div>
</ng-template>

<ng-template #empty>
  <p class="empty">
    {{ 'commentList.noComments' | translate }}
  </p>
</ng-template>

<ng-template #load>
  <br>
  <br>
  <ngx-skeleton-loader [count]="6"></ngx-skeleton-loader>
  <br>
  <br>
</ng-template>
