@import "src/app/theme/utils";

.comments {

  .comment {
    margin: 20px 0;
    display: flex;
    flex-direction: column;

    div {
      padding: 20px;
      min-width: 50%;
      background-color: @secondColor;
      border-radius: 20px;
    }
  }

  .odd {
    align-items: end;
  }

  .even {
    align-items: start;
  }
}
