<div *ngIf="content" class="content" [ngClass]="{mobile: isMobile}">

  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'empty'"
      [ngTemplateOutlet]="empty"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'loading'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="data"></ng-container>
  </ng-container>


</div>


<ng-template #data>

  <h1>{{ content.title }}</h1>

  <span class="date">{{ 'articlePage.publishedDate' | translate : {date: (content.publishedDate | date)} }}</span>

  <p [innerHTML]="content.content"></p>

  <span class="author" (click)="goToUser(content.authorName)">{{ content.authorName }}</span>
</ng-template>

<ng-template #empty>
  {{ 'articlePage.empty' | translate }}
</ng-template>

<ng-template #load>
  <mat-progress-bar mode="buffer"></mat-progress-bar>
</ng-template>
