@import "src/app/theme/utils";

.info {
  margin: auto;
  max-width: 600px;

  .load {
    padding: 20px 20px 5px 20px;
  }

  .default-avatar {
    background-color: @lightColor;
    border-radius: 16px;

    img {
      clip-path: none !important;
    }
  }

  .avatar {
    background-color: @firstColor;
    border-radius: 16px;
    cursor: pointer;
    padding: 10px;
    width: 70px;
    height: 70px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      clip-path: circle(30px at center);
    }
  }

  .about {
    padding-top: 10px;
    padding-left: 30px;
  }

  .stat {
    padding-top: 10px;
    padding-left: 30px;
  }

  h1 {
    margin: 0 0 0 10px;
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.vertical {
  display: flex;
  flex-direction: column;

  button {
    margin: 5px 10px;
  }
}

.mobile {
  padding-top: 10em;

  mat-card {
    margin: 10px;
  }

  .mat-mdc-card-avatar {
    padding: 10px;
  }

  .buttons {
    display: flex;
  }
}

.mat-mdc-card-avatar {
  width: 60px;
  height: 60px;
}
