<div class="info" [ngClass]="{ 'mobile': isMobile }">
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'form'"
      [ngTemplateOutlet]="form"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'load'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="form"></ng-container>
  </ng-container>
</div>

<ng-template #load>
  <mat-card class="load">
    <ngx-skeleton-loader count="1" [theme]="{width: '75%'}"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" [theme]="{width: '50%'}"></ngx-skeleton-loader>
  </mat-card>
</ng-template>

<ng-template #form>

  <mat-card>
    <mat-card-header>
      <div>
        <div class="avatar" [@opacity-2] *ngIf="info.hasImage"
             (click)="openEditAvatarDialog()">
          <img src="api/storage/download?uuid={{ info.imagePath }}"
               (error)="info.hasImage = false"
               alt="avatar">
        </div>

        <div class="avatar default-avatar" *ngIf="!info.hasImage" [@opacity-2]
             (click)="openEditAvatarDialog()">
          <img src="assets/images/dinosaur.png" alt="avatar">
        </div>
      </div>
      <div class="title"></div>
      <div class="settings">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-card-content class="about">
      <h1>
        {{ info.nickname }}
      </h1>
      <br>
      <h4 *ngIf="info.isPremiumUser" class="premium-hint">
        {{ 'profilePage.isPremium' | translate }}
      </h4>
      <h3 [innerHTML]="'profilePage.email' | translate : {email: info.email}"></h3>
      <p style="line-break: auto" *ngIf="info.description" [innerHTML]="'profilePage.description' | translate : {value: info.description}">
      </p>
      <p style="line-break: auto" *ngIf="!info.description">
        {{ 'profilePage.noDescription' | translate }}
      </p>
    </mat-card-content>

    <mat-card-content>
      <br>
      <div class="vertical centered">
        <button mat-flat-button routerLink="/my">
          {{ 'profilePage.myArticles' | translate }}
        </button>
        <button mat-flat-button routerLink="/bookmarks">
          {{ 'profilePage.myBookmarks' | translate }}
        </button>
      </div>
    </mat-card-content>

    <mat-card-content class="stat" *ngIf="info.statistics">
      <br>
      <table>
        <th colspan="2">
          <b> {{ 'profilePage.statistics.title' | translate }}</b>
        </th>
        <tr>
          <td>
            <p>{{ 'profilePage.statistics.subscribers' | translate }}</p>
          </td>
          <td>
            <p>{{ info.statistics.subscribers }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>{{ 'profilePage.statistics.views' | translate }}</p>
          </td>
          <td>
            <p>{{ info.statistics.views }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>{{ 'profilePage.statistics.articles' | translate }}</p>
          </td>
          <td>
            <p>{{ info.statistics.articles }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>{{ 'profilePage.statistics.reactions' | translate }}</p>
          </td>
          <td>
            <p>{{ info.statistics.reactions }}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>{{ 'profilePage.statistics.comments' | translate }}</p>
          </td>
          <td>
            <p>{{ info.statistics.comments }}</p>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <mat-menu #menu="matMenu" xPosition="before">
        <div class="vertical">

          <button
            mat-button
            (click)="themeDataService.switchMode()"
          >
            {{ 'profilePage.' + (themeDataService.isDarkMode ? 'lightMode' : 'darkMode') | translate }}
          </button>

          <button
            mat-button
            (click)="openEditNicknameDialog()"
          >
            {{ 'profilePage.editNickname' | translate }}
          </button>

          <button
            mat-button
            (click)="openChangeLanguageDialog()"
          >
            {{ 'profilePage.changeLanguage' | translate }}
          </button>

          <button
            mat-button
            (click)="openEditDescriptionDialog()"
          >
            {{ 'profilePage.editDescription' | translate }}
          </button>

          <button
            mat-button
            (click)="resetPassword()"
          >
            {{ 'profilePage.resetPassword' | translate }}
          </button>

          <button mat-flat-button color="warn" (click)="logout()">
            {{ 'profilePage.logout' | translate }}
          </button>
        </div>

      </mat-menu>


    </mat-card-actions>
  </mat-card>
</ng-template>
