@import "src/app/theme/utils";


.profile {
  padding: 20px;
  margin: auto;
  max-width: 900px;

  .box {

    display: flex;

    .menu {
      margin-right: 20px;
    }

    .content {
      width: 100%;
    }
  }

}

.mobile {
  .box {
    display: block;
  }
}

