<div class="info" [ngClass]="{ 'mobile': isMobile }">
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'form'"
      [ngTemplateOutlet]="form"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'load'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="form"></ng-container>
  </ng-container>
</div>


<ng-template #load>
  <mat-card class="load">
    <ngx-skeleton-loader count="1" [theme]="{width: '75%'}"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" [theme]="{width: '50%'}"></ngx-skeleton-loader>
  </mat-card>
</ng-template>

<ng-template #form>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar>
        <div *ngIf="info.image">
          <img src="{{ info.image }}" alt="avatar">
        </div>
        <div *ngIf="!info.image">
          <button
            mat-fab
            color="primary"
            (click)="addImage()"
          >
            <mat-icon>
              account_circle
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="title">
        <h1>
          {{ info.nickname }}
        </h1>
      </div>
      <div class="settings">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </mat-card-header>

    <mat-card-content class="about">
      <h4>
        {{ 'profilePage.email' | translate : {email: info.email} }}
      </h4>
      <p>
        {{ (info.about) ? info.about : 'profilePage.noAbout' | translate }}
      </p>
    </mat-card-content>
    <mat-card-actions class="buttons">
      <mat-menu #menu="matMenu" xPosition="before">
        <div class="vertical">
          <button
            mat-button
            (click)="openEditNicknameDialog()"
          >
            {{ 'profilePage.editNickname' | translate }}
          </button>

          <button
            mat-button
            (click)="openChangeLanguageDialog()"
          >
            {{ 'profilePage.changeLanguage' | translate }}
          </button>
          <!--          <button-->
          <!--            mat-button-->
          <!--            [disabled]="true"-->
          <!--          >-->
          <!--            {{ 'profilePage.editAbout' | translate }}-->
          <!--          </button>-->
          <button
            mat-button
            (click)="resetPassword()"
          >
            {{ 'profilePage.resetPassword' | translate }}
          </button>

          <button mat-flat-button color="warn" (click)="logout()">
            {{ 'profilePage.logout' | translate }}
          </button>
        </div>

      </mat-menu>


    </mat-card-actions>
  </mat-card>
</ng-template>
