<div class="public-info" [ngClass]="{mobile: isMobile}">
  <mat-card *ngIf="!isMobile">
    <mat-card-content>
      <ng-container [ngTemplateOutlet]="links"></ng-container>
    </mat-card-content>
  </mat-card>

  <ng-container
    *ngIf="isMobile"
    [ngTemplateOutlet]="links">

  </ng-container>
</div>

<ng-template #links>
  <a mat-button routerLink="/content/about">{{ 'legalWidget.aboutUs' | translate }}</a>
  <a mat-button routerLink="/content/privacy-policy">{{ 'legalWidget.privacyPolicy' | translate }}</a>
  <a mat-button routerLink="/content/personal-data">{{ 'legalWidget.aboutPersonalData' | translate }}</a>
</ng-template>
