@import "src/app/theme/utils";

.bad-gateway {
  margin: 40px auto;
  max-width: 1000px;
  text-align: center;

  mat-progress-bar {
    max-width: 400px;
    margin: auto;
  }

  mat-progress-bar.short {
    max-width: 200px;
  }

  mat-progress-bar.short-second {
    max-width: 300px;
  }
}

.mobile {
  padding: 20px;
}
