<div *ngIf="content" class="content" [ngClass]="{mobile: isMobile}">

  <ng-container [ngSwitch]="state">

    <ng-container
      *ngSwitchCase="'loading'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'empty'"
      [ngTemplateOutlet]="empty"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="data"></ng-container>
  </ng-container>

  <div class="additional-content" *ngIf="additionalContent.length > 0">
    <br>
    <mat-divider></mat-divider>
    <br>
    <div class="same-contents" [@opacity-2]>
      <a *ngFor="let cont of additionalContent"
         routerLink="/content/view/{{ cont.id }}">
        {{ cont.title }}
      </a>
    </div>
  </div>

  <div class="comments" *ngIf="id && state === 'data'">
    <br>
    <mat-divider></mat-divider>
    <br>
    <comment-list [contentId]="id"></comment-list>
  </div>
</div>

<ng-template #data>

  <div class="author" *ngIf="author.nickname" [@opacity-2]>
    <div>
      <div class="avatar"
           [@opacity-2]
           *ngIf="author.hasImage"
           [routerLink]="'/search'"
           [queryParams]="{q: author.nickname, author: true}"
      >
        <img
          class="avatar-img"
          src="api/storage/download?uuid={{ author.imagePath }}"
          (error)="author.hasImage = false"
          alt="avatar"
        />
      </div>
      <div class="avatar default-avatar"
           *ngIf="!author.hasImage"
           [routerLink]="'/search'"
           [queryParams]="{q: author.nickname, author: true}"
      >
        <img
          class="avatar-img"
          src="assets/images/default-avatar.png"
          alt="avatar"
        />
      </div>
    </div>

    <div class="info">
      <span
        class="nickname"
        [routerLink]="'/search'"
        [queryParams]="{q: author.nickname, author: true}">
        {{ author.nickname }}
      </span>
      <button
        *ngIf="content.actions.canSubscribe"
        mat-flat-button
        (click)="subscribe()"
      >
        {{ 'viewContentPage.subscribe' | translate }}
      </button>
      <span
        class="subscribed"
        *ngIf="content.actions.canUnsubscribe"
      >
        {{ 'viewContentPage.subscribed' | translate }}
      </span>
    </div>
  </div>

  <span *ngIf="content.status === Status.pending"
        class="status"> {{ 'viewContentPage.pending' | translate }}</span>

  <span *ngIf="content.publishedDate"
        class="date">{{ content.publishedDate | date : "d MMMM y" }}</span>

  <span *ngIf="timeToRead != 0"
        class="time-to-read">{{ 'viewContentPage.timeToRead' | translate : {time: timeToRead} }}</span>

  <div class="title-container">
    <h1>{{ content.title }}</h1>
  </div>

  <div class="tags">
    <!--    <span class="tags-title">{{ 'viewContentPage.tags' | translate }}</span>-->
    <!--    <span>&nbsp;</span>-->
    <!--    <span *ngIf="!content.tags">{{ 'viewContentPage.noTags' | translate }}</span>-->
    <span class="tag"
          *ngFor="let tag of content.tags"
          [routerLink]="'/search'"
          [queryParams]="{q: tag.replace('#', ''), tag: true}">
      {{ tag }}
    </span>
  </div>

  <br>

  <p class="main-content" [innerHTML]="content.content | safeHtml"></p>
  <br>
  <div class="reactions" *ngIf="content.status != Status.draft">
    <div>
      <mat-icon matBadge="{{ content.countViews }}"
                class="accent-icon"
                matBadgePosition="below after">
        visibility
      </mat-icon>
    </div>
    <div>
      <button mat-icon-button (click)="react(favoriteReaction.value)" [disabled]="!content.actions.canReact">
        <mat-icon matBadge="{{ favoriteReaction.count }}"
                  class="accent-icon"
                  matBadgePosition="below after">{{ favoriteReaction.value || 'favorite_outline' }}
        </mat-icon>
      </button>

      <button *ngFor="let it of reactions" mat-icon-button
              (click)="react(it.value)"
              [disabled]="!content.actions.canReact">
        <mat-icon matBadge="{{ it.count }}"
                  class="accent-icon"
                  matBadgePosition="below after">{{ it.value }}
        </mat-icon>
      </button>

      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              *ngIf="content.actions.canReact">
        <mat-icon>add_circle_outline</mat-icon>
      </button>

      <mat-menu #menu="matMenu" xPosition="before" yPosition="above">
        <div class="reactions-menu">
          <button mat-icon-button
                  *ngFor="let type of availableReactions"
                  (click)="react(type)"
                  [disabled]="!content.actions.canReact">
            <mat-icon>{{ type }}</mat-icon>
          </button>
        </div>
      </mat-menu>
    </div>


  </div>
  <br>
  <div class="buttons">
    <button mat-icon-button
            [matTooltip]="'viewContentPage.shareHint' | translate"
            (click)="share()">
      <mat-icon>share</mat-icon>
    </button>

    <button mat-icon-button
            (click)="bookmark()"
            [matTooltip]="'viewContentPage.bookmarkHint' | translate"
            *ngIf="authService.isAuthorized">
      <mat-icon>{{ content.isSaved ? 'bookmark' : 'bookmark_border' }}</mat-icon>
    </button>

    <button mat-icon-button
            (click)="report()"
            [matTooltip]="'viewContentPage.reportHint' | translate"
            *ngIf="content.actions.canReport">
      <mat-icon>report</mat-icon>
    </button>

    <button
      *ngIf="content.actions.canEdit || content.actions.canUnpublish"
      mat-icon-button
      routerLink="/content/edit/{{ content.id }}"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>

</ng-template>

<ng-template #empty>
  {{ 'viewContentPage.empty' | translate }}
</ng-template>

<ng-template #load>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{width: '50%'}"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{width: '75%'}"></ngx-skeleton-loader>
  <br>
  <br>
  <ngx-skeleton-loader [count]="14"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{width: '25%'}"></ngx-skeleton-loader>
  <br>
</ng-template>
