@import "src/app/theme/utils";

:host ::ng-deep .content img {
  max-width: 100%;
  margin: 20px 0;
  border-radius: 20px;
  //box-shadow: 0 0 5px 5px @shadowColor;
}

:host ::ng-deep .content a {
  color: @warningColor;
  font-weight: bolder;
}

mat-divider {
  margin: auto;
  height: 2px;
}

.content {
  padding: 20px;
  margin: auto;
  max-width: 700px;
  overflow-wrap: anywhere;

  h1 {
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 0;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .status {
    color: @warningColor;
    font-weight: bold;
    padding-bottom: 20px;
    display: block;
  }

  .same-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    a:active, a:visited, a:link {
      text-align: center;
      padding: 15px;
      text-decoration: none;
      font-weight: 500;
      cursor: pointer;
      color: @lightColor;
      display: inline-block;
      background-color: @thirdColor;
      border-radius: 20px;
      margin: 5px;
    }

    a:hover {
      background-color: @backgroundColor;
      color: @textColor;
    }
  }

  .additional-content {
    h2 {
      text-align: center;
    }
  }

  .time-to-read {
    margin-bottom: 10px;
    display: block;
  }
}

.reactions {

  div:first-child {
    padding: 12px;
  }

  display: flex;
  justify-content: space-between;
}

.reactions-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 170px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  span {
    cursor: pointer;
    font-weight: bold;
  }
}

.tags {
  .tag {
    padding-right: 5px;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .tags-title {
    font-weight: bolder;
  }
}

.date {
  font-weight: bolder;
  display: block;
  padding-bottom: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;

  button {
    margin: 5px 10px;
  }
}

.mobile {

  img {
    max-width: 100px;
  }
}

.buttons {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}


