<div *ngIf="content" #top class="content" [ngClass]="{mobile: isMobile}">

  <ng-container [ngSwitch]="state">

    <ng-container
      *ngSwitchCase="'loading'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'empty'"
      [ngTemplateOutlet]="empty"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="data"></ng-container>
  </ng-container>
</div>

<ng-template #data>

  <span *ngIf="content.status === Status.pending"
        class="status"> {{ 'viewContentPage.pending' | translate }}</span>

  <h1>{{ content.title }}</h1>

  <span *ngIf="content.publishedDate"
        class="date">{{ 'viewContentPage.publishedDate' | translate : {date: (content.publishedDate | date : "YYYY.MM.dd")} }}</span>

  <div class="tags">
    <span class="tags-title">{{ 'viewContentPage.tags' | translate }}</span>
    <span>&nbsp;</span>
    <span *ngIf="content.tags.length === 0">{{ 'viewContentPage.noTags' | translate }}</span>
    <span class="tag"
          *ngFor="let tag of content.tags"
          [routerLink]="'/search'"
          [queryParams]="{q: tag.replace('#', ''), tag: true}">
      {{ tag }}
    </span>
  </div>

  <br>

  <p [innerHTML]="content.content | safeHtml"></p>


  <div class="footer">
    <div class="buttons">
      <button mat-icon-button (click)="share()">
        <mat-icon>share</mat-icon>
      </button>

      <button mat-icon-button (click)="bookmark()" *ngIf="authService.isAuthorized && !content.actions.canDelete">
        <mat-icon>{{ content.isSaved ? 'bookmark' : 'bookmark_border' }}</mat-icon>
      </button>

      <button mat-icon-button (click)="like()" [disabled]="!authService.isAuthorized">
        <mat-icon matBadge="{{ content.likes }}"
                  matBadgePosition="below after">{{ content.isLiked ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </button>

      <button
        *ngIf="content.actions.canEdit || content.actions.canUnpublish"
        mat-icon-button
        routerLink="/content/edit/{{ content.id }}"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="author">
      <span [routerLink]="'/search'"
            [queryParams]="{q: content.authorName, author: true}">{{ content.authorName }}</span>
    </div>
  </div>
</ng-template>

<ng-template #empty>
  {{ 'viewContentPage.empty' | translate }}
</ng-template>

<ng-template #load>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{width: '50%'}"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{width: '75%'}"></ngx-skeleton-loader>
  <br>
  <br>
  <ngx-skeleton-loader [count]="14"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{width: '25%'}"></ngx-skeleton-loader>
  <br>
</ng-template>
