@import "src/app/theme/utils";

:host ::ng-deep .content img {
  max-width: 100%;
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px @shadowColor;
}

:host ::ng-deep .content a {
  color: @warningColor;
  font-weight: bolder;
}

.content {
  padding: 20px;
  margin: auto;
  max-width: 700px;
  font-size: 16px;

  h1 {
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 0;
  }

  .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .status {
    color: @warningColor;
    font-weight: bold;
    padding-bottom: 20px;
    display: block;
  }
}

.reactions-menu {
  display: flex;
  justify-content: space-around;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  span {
    cursor: pointer;
    font-weight: bold;
  }
}

.tags {
  .tag {
    padding-right: 5px;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .tags-title {
    font-weight: bolder;
  }
}

.date {
  font-weight: bolder;
  display: block;
  padding-bottom: 10px;
}

.vertical {
  display: flex;
  flex-direction: column;

  button {
    margin: 5px 10px;
  }
}

.mobile {

  img {
    max-width: 100px;
  }
}

.buttons {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}


