<div class="reset-password" [ngClass]="{'reset-password-mobile' : isMobile}">

  <mat-card>
    <mat-card-header>
      <h1>{{ 'resetPasswordPage.title' | translate }}</h1>
    </mat-card-header>
    <mat-card-content>
      <p class="content">
        {{ 'resetPasswordPage.content' | translate }}
      </p>
      <form [formGroup]="formGroup">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'resetPasswordPage.email' | translate }}</mat-label>
            <input matInput [type]="'email'" placeholder="example@domain.com" formControlName="email" required>
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="hasErrors && formGroup.get('email')?.valid == false">
              {{getErrors('login')}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="buttons" [ngClass]="{'buttons-mobile' : isMobile}">
          <button mat-flat-button type="submit" (click)="reset()">{{ 'resetPasswordPage.reset' | translate }}
          </button>
        </div>
      </form>
      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card-content>

  </mat-card>
</div>

