<div class="stories" [ngClass]="{mobile: isMobile}">
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>
    <ng-container
      *ngSwitchCase="'empty'"
      [ngTemplateOutlet]="empty"
    ></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="empty"></ng-container>
  </ng-container>
</div>

<ng-template #empty>
</ng-template>

<ng-template #data>
  <mat-card [routerLink]="'/content/' + currentStory.link" matRipple>
    <div class="title">
      <h1>{{ currentStory.title }}</h1>
    </div>
    <mat-card-content>
      <p [innerHTML]="currentStory.description | safeHtml"></p>
      <mat-card-footer>
        <mat-progress-bar [value]="progressbarValue"></mat-progress-bar>
      </mat-card-footer>
    </mat-card-content>
    <mat-card-footer>
      <div class="footer">

      </div>
    </mat-card-footer>
  </mat-card>
</ng-template>
