.search {
  display: flex;

  form {
    margin: auto;
    width: 30%;
    min-width: 300px;
    max-width: 500px;

    div {
      width: 100%;

      mat-form-field {
        display: flex;
      }
    }
  }
}


.mobile {
  form {
    width: 90%;
  }
}
