<div class="search" [ngClass]="{ 'mobile': isMobile }">

  <div class="search-block">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div>
        <mat-form-field appearance="outline" [floatLabel]="'always'">
          <input matInput #focusField formControlName="search" placeholder="{{ 'searchPage.search' | translate }}"/>
          <mat-icon (click)="submit()" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="result-block">
    <ng-container [ngSwitch]="state">
      <ng-container
        *ngSwitchCase="'data'"
        [ngTemplateOutlet]="data"
      ></ng-container>

      <ng-container
        *ngSwitchCase="'empty'"
        [ngTemplateOutlet]="empty"
      ></ng-container>

      <ng-container
        *ngSwitchCase="'loading'"
        [ngTemplateOutlet]="load"
      ></ng-container>

      <ng-container *ngSwitchDefault [ngTemplateOutlet]="init"></ng-container>
    </ng-container>
  </div>
</div>


<ng-template #load>
  <div class="progress-bar-container">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>
</ng-template>

<ng-template #empty>
  <div class="empty">
    <h4>{{ 'searchPage.notFound' | translate }}</h4>
  </div>
</ng-template>

<ng-template #init>
  <div class="empty">
    <h4 [innerHTML]="'searchPage.message' | translate"></h4>
  </div>
</ng-template>

<ng-template #data>
  <div [@opacity-1]>
    <div *ngFor="let item of items" class="content">
      <mat-card routerLink="/content/view/{{ item.id }}" matRipple>
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle> {{ item.tags.join(' ') }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="item.preView | safeHtml"></p>
        </mat-card-content>
        <mat-card-footer>
          <div class="footer">
            <div class="date">
              <span>{{ item.publishedDate | date : "YYYY.MM.dd" }}</span>
            </div>
            <div class="author">
              <span>{{ item.authorName }}</span>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-template>
