<div class="search" [ngClass]="{ mobile: isMobile }">
  <div class="search-block">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div>
        <mat-form-field appearance="outline" [floatLabel]="'always'">
          <input
            matInput
            #focusField
            formControlName="search"
            placeholder="{{ 'searchPage.search' | translate }}"
          />
          <mat-icon (click)="submit()" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="author-block" *ngIf="byAuthor && authorInfos">
    <mat-card *ngFor="let authorInfo of authorInfos">
      <div class="header" *ngIf="authorInfo">
        <div class="title" [ngClass]="{ mobile: isMobile }">
          <div class="title-avatar">
            <div class="avatar" *ngIf="authorInfo.hasImage">
              <img
                src="api/storage/download?uuid={{ authorInfo.imagePath }}"
                (error)="authorInfo.hasImage = false"
                alt="avatar"
              />
            </div>
            <div class="avatar default-avatar" *ngIf="!authorInfo.hasImage">
              <img
                src="assets/images/dinosaur.png"
                alt="avatar"
              />
            </div>
            <div>
              <button mat-flat-button type="button" (click)="subscribe(authorInfo)"
                      *ngIf="authorInfo.additionalInfo?.canSubscribe">
                {{ 'searchPage.subscribe' | translate }}
              </button>
              <button mat-flat-button type="button" (click)="unsubscribe(authorInfo)"
                      *ngIf="authorInfo.additionalInfo?.canUnsubscribe">
                {{ 'searchPage.unsubscribe' | translate }}
              </button>
            </div>
          </div>
        </div>
        <div class="sub-title">
          <h2>
            {{ authorInfo.nickname }}
          </h2>
          <ng-container *ngIf="authorInfo.statistics?.articles">
            <b>
              {{
                "searchPage.articles"
                  | translate: {count: authorInfo.statistics?.articles}
              }}
            </b>
            <br>
          </ng-container>
          <ng-container *ngIf="authorInfo.statistics?.subscribers">

            <b>
              {{
                "searchPage.subscribers"
                  | translate: {count: authorInfo.statistics?.subscribers}
              }}
            </b>
            <br>
          </ng-container>
          <ng-container *ngIf="authorInfo.additionalInfo?.registrationDate">
            <b>
              {{
                "searchPage.registrationDate"
                  | translate
                  : {date: authorInfo.additionalInfo?.registrationDate}
              }}
            </b>
          </ng-container>

        </div>
      </div>

      <mat-card-content *ngIf="authorInfo">
        <p class="description" [innerHTML]="authorInfo.description ?? 'searchPage.noDescription' | translate">
        </p>
      </mat-card-content>

      <mat-card-footer>
        <div class="footer"></div>
      </mat-card-footer>
    </mat-card>
    <mat-divider *ngIf="authorInfos.length > 0"></mat-divider>
  </div>

  <div class="result-block">
    <ng-container [ngSwitch]="state">
      <ng-container
        *ngSwitchCase="'data'"
        [ngTemplateOutlet]="data"
      ></ng-container>

      <ng-container
        *ngSwitchCase="'empty'"
        [ngTemplateOutlet]="empty"
      ></ng-container>

      <ng-container
        *ngSwitchCase="'loading'"
        [ngTemplateOutlet]="load"
      ></ng-container>

      <ng-container *ngSwitchDefault [ngTemplateOutlet]="init"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #load>
  <div>
    <mat-card *ngFor="let i of [1, 2, 3]">
      <mat-card-content>
        <br>
        <ngx-skeleton-loader
          [count]="1"
          [theme]="{ width: '75%' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader [count]="5"></ngx-skeleton-loader>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #empty>
  <div class="empty">
    <h4>{{ "searchPage.notFound" | translate }}</h4>
  </div>
</ng-template>

<ng-template #init>
  <div class="empty">
    <h4 [innerHTML]="'searchPage.message' | translate"></h4>
  </div>
  <mat-divider></mat-divider>
  <br/>
  <ng-container *ngTemplateOutlet="tag"></ng-container>
</ng-template>

<ng-template #tag>
  <div *ngIf="tags.length > 0" [@opacity-2]>
    <div class="tags">
      <span *ngFor="let tag of tags" (click)="fillTag(tag)">{{
          tag.value
        }}</span>
    </div>
  </div>
</ng-template>

<ng-template #data>
  <div *ngIf="byTag && tags.length > 1">
    <ng-container *ngTemplateOutlet="tag"></ng-container>
    <br/>
    <mat-divider></mat-divider>
  </div>
  <div>
    <div *ngFor="let item of items" class="content">
      <content-widget [item]="item"></content-widget>
    </div>
    <div class="load-more" *ngIf="canLoadMore || loadMoreProgress" #end>
      <button mat-button (click)="loadMore()" *ngIf="!loadMoreProgress">
        {{ "searchPage.loadMore" | translate }}
      </button>
      <div class="progress-bar-container" *ngIf="loadMoreProgress">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </div>
    </div>
  </div>
</ng-template>
