@import "src/app/theme/utils";

.search {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .search-block {
    display: flex;

    form {
      margin: auto;
      width: 30%;
      min-width: 300px;
      max-width: 500px;

      div {
        width: 100%;

        mat-form-field {
          display: flex;
        }
      }
    }
  }

  .result-block {

    width: 100%;
    max-width: 600px;

    mat-card {
      margin: 20px;
      transition: transform 250ms, opacity 400ms;
    }
  }
}


.mobile {
  margin-top: 40px;

  form {
    width: 90%;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}

.author {
  color: @secondColor;
  font-weight: bold;
  display: flex;
  justify-content: end;

  span {
    display: block;
    padding: 5px 15px;
  }
}

.date {
  color: @fifthColor;
  display: flex;
  justify-content: end;

  span {
    display: block;
    padding: 5px 15px;
  }
}

.empty {
  text-align: center;

  h4 {
    color: @fifthColor;
  }
}

.progress-bar-container {
  margin: auto;
  text-align: center;
  max-width: 75%;
}
