<div class="search" [ngClass]="{ mobile: isMobile }">
  <div class="search-block">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <div>
        <mat-form-field appearance="outline" [floatLabel]="'always'">
          <input
            matInput
            #focusField
            formControlName="search"
            placeholder="{{ 'searchPage.search' | translate }}"
          />
          <mat-icon (click)="submit()" matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="author-block" *ngIf="byAuthor && authorInfos">
    <mat-card *ngFor="let authorInfo of authorInfos">
      <div class="header" *ngIf="authorInfo">
        <div class="title" [ngClass]="{ mobile: isMobile }">
          <div class="title-avatar">
            <div class="avatar" *ngIf="authorInfo.hasImage">
              <img
                src="api/storage/download?uuid={{ authorInfo.imagePath }}"
                (error)="authorInfo.hasImage = false"
                alt="avatar"
              />
            </div>
            <div class="avatar default-avatar" *ngIf="!authorInfo.hasImage">
              <img
                src="assets/images/dinosaur.png"
                alt="avatar"
              />
            </div>

            <h2>
              {{ authorInfo.nickname }}
            </h2>
          </div>
        </div>
        <div class="title">
          <h2>
            {{
              "searchPage.registrationDate"
                | translate
                  : { date: authorInfo.additionalInfo?.registrationDate ?? 0 }
            }}
          </h2>
        </div>
        <div class="sub-title">
          <b>{{
            "searchPage.subscribers"
              | translate: { count: authorInfo.statistics?.subscribers ?? 0 }
          }}</b>
        </div>
      </div>

      <mat-card-content *ngIf="authorInfo">
        <p class="description">
          {{ authorInfo.description ?? "searchPage.noDescription" | translate }}
        </p>
      </mat-card-content>

      <mat-card-footer>
        <div class="footer"></div>
      </mat-card-footer>
    </mat-card>
    <mat-divider *ngIf="authorInfos.length > 0"></mat-divider>
  </div>

  <div class="result-block">
    <ng-container [ngSwitch]="state">
      <ng-container
        *ngSwitchCase="'data'"
        [ngTemplateOutlet]="data"
      ></ng-container>

      <ng-container
        *ngSwitchCase="'empty'"
        [ngTemplateOutlet]="empty"
      ></ng-container>

      <ng-container
        *ngSwitchCase="'loading'"
        [ngTemplateOutlet]="load"
      ></ng-container>

      <ng-container *ngSwitchDefault [ngTemplateOutlet]="init"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #load>
  <div>
    <mat-card *ngFor="let i of [1, 2]">
      <mat-card-content>
        <ngx-skeleton-loader
          [count]="1"
          [theme]="{ width: '75%' }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader [count]="5"></ngx-skeleton-loader>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #empty>
  <div class="empty">
    <h4>{{ "searchPage.notFound" | translate }}</h4>
  </div>
</ng-template>

<ng-template #init>
  <div class="empty">
    <h4 [innerHTML]="'searchPage.message' | translate"></h4>
  </div>
  <div *ngIf="tags.length > 0" [@opacity-2]>
    <mat-divider></mat-divider>
    <br />
    <div class="tags">
      <span *ngFor="let tag of tags" (click)="fillTag(tag)">{{
        tag.value
      }}</span>
    </div>
  </div>
</ng-template>

<ng-template #data>
  <div>
    <div *ngFor="let item of items" class="content">
      <mat-card routerLink="/content/view/{{ item.id }}" matRipple>
        <ng-container>
          <div>
            <div
              class="author"
              [routerLink]="'/search'"
              [queryParams]="{ q: item.authorName, author: true }"
            >
              <span>{{ item.authorName }}</span>
            </div>

            <div class="date">
              <span>{{ item.publishedDate | date: "d MMMM y" }}</span>
            </div>

            <div class="card-title">
              <h2>{{ item.title }}</h2>
            </div>

            <div class="card-tags" *ngIf="item.tags">
              {{ item.tags.join(" ") }}
            </div>
          </div>
        </ng-container>
        <mat-card-content>
          <p [innerHTML]="item.preView | safeHtml"></p>
        </mat-card-content>
        <mat-card-footer>
          <div class="footer"></div>
        </mat-card-footer>
      </mat-card>
    </div>
    <div class="load-more" *ngIf="canLoadMore || loadMoreProgress" #end>
      <button mat-button (click)="loadMore()" *ngIf="!loadMoreProgress">
        {{ "searchPage.loadMore" | translate }}
      </button>
      <div class="progress-bar-container" *ngIf="loadMoreProgress">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </div>
    </div>
  </div>
</ng-template>
