<div class="trends">
  <div class="trends-header">
    <h1>{{ "summaryPage.trends" | translate }}</h1>
  </div>
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="load"></ng-container>
  </ng-container>
</div>


<ng-template #load>

  <mat-card *ngFor="let i of [1, 2, 3]">
    <mat-card-content>
      <br/>
      <ngx-skeleton-loader count="1" [theme]="{width: '50%'}"></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" [theme]="{width: '75%'}"></ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #data>
  <div>
    <div *ngFor="let item of items" class="article">
      <mat-card (click)="goToView(item)" matRipple>
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle class="tags">{{ item.tags.join(' ') }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ item.preView }}
          </p>
        </mat-card-content>
        <mat-card-footer>
          <div class="footer">
            <div class="date">
              <span>{{ item.publishedDate | date : "YYYY.MM.dd" }}</span>
            </div>
            <div class="author">
              <span (click)="goToUser(item.authorName)">{{ item.authorName }}</span>
            </div>
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-template>
