@import "src/app/theme/utils";

.toolbarNav{
  position: fixed;
  z-index: 1000;
  top: 0;
  padding: 1em;
  background-color: @backgroundColorWithOpacity;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  -webkit-box-shadow: 3px 3px 5px 6px @backgroundColorWithOpacity;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px @backgroundColorWithOpacity;  /* Firefox 3.5 - 3.6 */
  box-shadow:        2px 2px 4px 5px @backgroundColorWithOpacity;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

  top-menu {
    width: 100%;
  }
}
