<div class="right" [ngClass]="{mobile: isMobile}">

  <mat-card [@opacity-1]>
    <mat-card-content *ngIf="authService.isAuthorized">
      <div class="buttons">
        <ng-container *ngFor="let item of lineTypes(isMobile)">
          <button *ngIf="item == currentType;"
                  mat-flat-button (click)="changeType(item)">
            <mat-icon class="light">{{ resolveIcon(item) }}</mat-icon>
            {{ 'rightWidget.' + item | translate }}
          </button>
          <button *ngIf="item != currentType;" mat-stroked-button
                  (click)="changeType(item)">
            <mat-icon>{{ resolveIcon(item) }}</mat-icon>
            {{ 'rightWidget.' + item | translate }}
          </button>
        </ng-container>
      </div>
    </mat-card-content>
    <ng-container *ngIf="!isMobile">

      <mat-card-content>
        <ng-container [ngSwitch]="state">
          <ng-container
            *ngSwitchCase="'data'"
            [ngTemplateOutlet]="data"
          ></ng-container>
          <ng-container *ngSwitchDefault [ngTemplateOutlet]="empty"></ng-container>
        </ng-container>

      </mat-card-content>
    </ng-container>
  </mat-card>
</div>

<ng-template #data>
  <br>
  <h3>{{ 'rightWidget.tags' | translate }}</h3>
  <mat-divider></mat-divider>
  <br>
  <div class="topic">
    <div *ngFor="let tag of tags"
         [routerLink]="'/search'"
         [queryParams]="{q: tag.replace('#', ''), tag: true}">
      {{ tag }}
    </div>
  </div>
</ng-template>

<ng-template #empty></ng-template>

