@import "src/app/theme/utils";

.right {
  margin: auto;

  h1 {
    margin: 10px auto;
  }

  mat-card {
    margin: 20px;
  }

  .right-header {
    text-align: left;
    padding: 0 25px;
    font-weight: bolder;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .topic {

    span {
      font-weight: 500;
      cursor: pointer;
      color: @firstColor;
      display: inline-block;
      background-color: @thirdColor;
      border-radius: 20px;
      margin: 5px;
      padding: 5px 10px;
    }

    span:hover {
      background-color: @secondColor;
      color: @fifthColor;
    }

  }

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      margin: 5px;
    }
  }

  .divider {
    margin: 10px 0;
  }
}

.mobile {
  .buttons {
    display: block;
  }
}
