<div class="right" [ngClass]="{mobile: isMobile}">
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="load"></ng-container>
  </ng-container>
</div>

<ng-template #data>
  <mat-card [@opacity-1]>
    <mat-card-content *ngIf="authService.isAuthorized">
      <div class="buttons">
        <ng-container *ngFor="let item of lineTypes(isMobile)">
          <button *ngIf="item == currentType;"
                  mat-flat-button (click)="changeType(item)">
            <mat-icon class="light">{{ resolveIcon(item) }}</mat-icon>
            {{ 'rightWidget.' + item | translate }}
          </button>
          <button *ngIf="item != currentType;" mat-stroked-button
                  (click)="changeType(item)">
            <mat-icon>{{ resolveIcon(item) }}</mat-icon>
            {{ 'rightWidget.' + item | translate }}
          </button>
        </ng-container>
      </div>
    </mat-card-content>
    <ng-container *ngIf="lastContent.length > 0">
      <mat-card-content>
        <br>
        <h3>{{ 'rightWidget.last' | translate }}</h3>
        <mat-divider></mat-divider>
        <br>
        <div class="last-published">
          <a *ngFor="let content of lastContent" routerLink="/content/view/{{ content.id }}">
            {{ content.title }}
          </a>
        </div>
      </mat-card-content>
    </ng-container>
    <ng-container *ngIf="tags.length > 0">

      <mat-card-content>
        <br>
        <h3>{{ 'rightWidget.tags' | translate }}</h3>
        <mat-divider></mat-divider>
        <br>
        <div class="topic">
        <span *ngFor="let tag of tags"
              [routerLink]="'/search'"
              [queryParams]="{q: tag.replace('#', ''), tag: true}">
          {{ tag }}
        </span>
        </div>
      </mat-card-content>
    </ng-container>
  </mat-card>
</ng-template>

<ng-template #load>
  <mat-card>
    <mat-card-content>
      <br>
      <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</ng-template>
