@import "src/app/theme/utils";
@import "src/styles";

.line {
  margin: auto;
  min-height: 75vh;

  mat-card {
    margin: 20px;

    .card-title {
      padding: 0 20px;

      h2 {
        margin: 0;
        line-break: anywhere;
      }
    }

    .status {
      font-weight: bold;
      font-size: 18px;
      color: @warningColor;
      padding: 10px 0;
    }
  }

  .pre-view {
    line-break: auto;
    overflow: hidden;
    padding: 5px;
  }

  h1 {
    margin: 10px auto;
  }

  .tags {
    padding: 5px;
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px;
  }

  .author {
    font-weight: bold;
    padding: 20px 20px 0;

    span {
      display: block;
      cursor: pointer;
    }
  }

  .date {
    padding: 5px 20px;
  }

  .load-more {
    margin-bottom: 20px;

    button {
      display: block;
      margin: auto;
    }
  }

  .progress-bar-container {
    max-width: 75%;
    margin: 40px auto;
  }
}

.stats {
  padding: 0 20px;
}

.loader {
  display: flex;
  align-items: center;
  height: 200px;

  mat-spinner {
    margin: auto;
  }
}

.mobile {
  min-height: 50vh;

  mat-card {
    margin: 20px;
  }

}

.content {
  mat-card-content {
    min-height: 75px;
  }
}

.empty {
  margin: 20px;
  text-align: center;
}
