<div class="line" [ngClass]="{ mobile: isMobile }">

  <div class="filter" *ngIf="type != LineType.bookmarks">

    <mat-form-field appearance="outline">
      <mat-select [(value)]="selectedPeriod" (selectionChange)="reload(true)">
        <mat-option *ngFor="let i of periodsFrom" [value]="i.key">
          {{ i.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button (click)="reorder()">
      <mat-icon class="filter-icon" [ngClass]="{'rotate': direction == 'ASC'}">
        filter_list
      </mat-icon>
    </button>

  </div>

  <ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="'data'" [ngTemplateOutlet]="data">
    </ng-container>

    <ng-container *ngSwitchCase="'empty'" [ngTemplateOutlet]="empty">
    </ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="load"></ng-container>
  </ng-container>
</div>

<ng-template #load>
  <mat-card *ngFor="let i of [1, 2]">
    <mat-card-content>
      <br/>
      <ngx-skeleton-loader count="1" [theme]="{ width: '50%' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader></ngx-skeleton-loader>
      <ngx-skeleton-loader count="1" [theme]="{ width: '75%' }"></ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #empty>
  <div class="empty">
    <h1>{{ "lineWidget.noData." + type | translate }}</h1>
  </div>
</ng-template>

<ng-template #data>


  <div *ngFor="let item of items" class="content">
    <mat-card [@opacity-1] matRipple routerLink="/content/view/{{ item.id }}">
      <ng-container *ngIf="type == LineType.my; else view">
        <div class="card-title">
          <div class="status">
            {{ "lineWidget.status." + item.status.toLowerCase() | translate }}
            <span *ngIf="item.publishedDate">
              {{ item.publishedDate | date: "d MMM y" }}
            </span>
          </div>

          <h2>
            {{ item.title }}
          </h2>
        </div>
      </ng-container>

      <ng-template #view>
        <div>
          <div class="author" [routerLink]="'/search'" [queryParams]="{ q: item.authorName, author: true }">
            <span>{{ item.authorName }}</span>
          </div>

          <div class="date">
            <span>{{ item.publishedDate | date: "d MMMM y" }}</span>
          </div>

          <div class="card-title">
            <h2>{{ item.title }}</h2>
          </div>
        </div>
      </ng-template>

      <mat-card-content>
        <div *ngIf="type == LineType.my && item.tags" class="tags">
          <span>
            {{ item.tags.join(" ") }}
          </span>
        </div>
        <p class="pre-view" [innerHTML]="item.preView | safeHtml"></p>
      </mat-card-content>

      <mat-card-footer>
        <ng-container *ngIf="
            type == LineType.top ||
            type == LineType.subscriptions ||
            type == LineType.bookmarks
          ">
          <div class="footer">
            <button *ngIf="type == LineType.bookmarks" mat-icon-button
                    [matTooltip]="translate.instant('lineWidget.tooltip.delete')"
                    (click)="removeFromBookmarks(item.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="stats">
              <mat-icon *ngIf="item.countViews" matBadge="{{ item.countViews }}" class="accent-icon"
                        matBadgePosition="below after">
                visibility
              </mat-icon>

              <mat-icon *ngIf="item.countComments" matBadge="{{ item.countComments }}" class="accent-icon"
                        matBadgePosition="below after">
                comment
              </mat-icon>

              <mat-icon *ngIf="item.countReactions" matBadge="{{ item.countReactions }}" class="accent-icon"
                        matBadgePosition="below after">
                favorite
              </mat-icon>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="type == LineType.my">
          <div class="footer">
            <button *ngIf="item.actions?.canEdit || item.actions?.canUnpublish" mat-icon-button
                    [matTooltip]="translate.instant('lineWidget.tooltip.edit')"
                    routerLink="/content/edit/{{ item.id }}">
              <mat-icon>edit</mat-icon>
            </button>

            <button *ngIf="item.actions?.canDelete" mat-icon-button
                    [matTooltip]="translate.instant('lineWidget.tooltip.delete')" (click)="delete(item.id)">
              <mat-icon>delete</mat-icon>
            </button>

            <button *ngIf="item.actions?.canPublish" mat-icon-button
                    [matTooltip]="translate.instant('lineWidget.tooltip.publish')"
                    (click)="changeStatus(item.id, Status.published)">
              <mat-icon>publish</mat-icon>
            </button>

            <button *ngIf="item.actions?.canUnpublish" mat-icon-button
                    [matTooltip]="translate.instant('lineWidget.tooltip.unpublish')"
                    (click)="changeStatus(item.id, Status.draft)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </ng-container>
      </mat-card-footer>
    </mat-card>
  </div>
  <div class="load-more" *ngIf="canLoadMore || loadMoreProgress" #end>
    <button mat-button (click)="loadMore()" *ngIf="!loadMoreProgress">
      {{ "searchPage.loadMore" | translate }}
    </button>
    <div class="progress-bar-container" *ngIf="loadMoreProgress">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
  </div>
</ng-template>
