@import "src/app/theme/utils";
@import "src/styles";

.line {
  margin: auto;

  mat-card {
    margin: 20px;
    transition: transform 250ms, opacity 400ms;

    mat-card-footer {
      padding: 5px 15px;
    }

    mat-card-title {
      font-weight: bolder;
    }

    .card-title {
      width: 100%;
      display: flex;
      justify-content: space-between;

      h2 {
        display: flex;
        align-items: center;
        margin: 0;
      }
    }

    .status {
      font-weight: bold;
      font-size: 18px;
      color: @warningColor;
      display: flex;
      align-items: center;
    }
  }

  h1 {
    margin: 10px auto;
  }

  .line-header {
    text-align: right;
    padding: 0 25px;
    font-weight: bolder;
  }

  .topics-header {
    text-align: left;
    padding: 0 25px;
  }

  .tags {
    padding: 5px 0;
    font-weight: bold;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }

  .author {
    font-weight: bold;
    display: flex;
    justify-content: end;

    span {
      display: block;
      cursor: pointer;
      padding: 5px;
    }
  }

  .date {
    display: flex;
    justify-content: end;

    span {
      display: block;
      padding: 5px;
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  height: 200px;

  mat-spinner {
    margin: auto;
  }
}

.mobile {
  mat-card {
    margin: 20px 10px;
  }

}

.content {
  mat-card-content {
    min-height: 75px;
  }
}

.empty {
  text-align: center;
}
