<div class="dialog" [ngClass]="{mobile: isMobile}">
  <h1>{{ 'profilePage.changeAvatarTitle' | translate }}</h1>
  <mat-dialog-content>
    <label id="label"
           dragAndDrop
           (fileDropped)="handleFile($event)"
           for="image_uploads"
           [innerHTML]="'profilePage.selectFile' | translate"></label>
    <input
      [hidden]="true"
      type="file"
      multiple
      id="image_uploads"
      name="avatar"
      (change)="handleFile($event)"
      accept="image/png, image/jpeg"/>
    <span *ngIf="error != ''" class="error" [@opacity-1]>{{ error }}</span>
    <br>
    <div class="avatars-preview">
      <div class="avatar" *ngIf="data.hasImage" [@opacity-2]>
        <img src="api/storage/download?uuid={{ data.imagePath }}" alt="Avatar"/>
      </div>
      <div *ngIf="newAvatarPreview && data.hasImage" class="arrow">
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
      <div class="avatar" *ngIf="newAvatarPreview" [@opacity-2]>
        <img src="{{ newAvatarPreview }}" alt="New Avatar"/>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-flat-button (click)="save()">{{ 'profilePage.save' | translate }}</button>
    <button mat-button (click)="close()">{{ 'profilePage.cancel' | translate }}</button>
  </mat-dialog-actions>
</div>
