<div class="landing" [ngClass]="{ mobile: isMobile }">
  <button mat-icon-button (click)="themeDataService.switchMode()">
    <mat-icon>{{ themeDataService.isDarkMode ? "wb_sunny" : "nights_stay" }}</mat-icon>
  </button>
  <section id="first" #first>
    <h1 class="name">{{ 'landingPage.name' | translate }}</h1>
    <h1 class="title">{{ 'landingPage.title0' | translate }}</h1>
    <div>
      <p class="sub-title" [innerHTML]="'landingPage.subtitle0' | translate"></p>
      <br>
      <br>
      <div class="sign-up-button">
        <button mat-flat-button [routerLink]="'/auth/login'">{{ 'landingPage.button' | translate }}</button>
      </div>
    </div>

    <div>
      <button mat-fab (click)="scrollToElement(second)">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </section>
  <section id="second" #second>
    <div>
      <p class="sub-title">{{ 'landingPage.preTitle1' | translate }}</p>
      <h1>{{ 'landingPage.title1' | translate }}</h1>
    </div>

    <p class="sub-title" [innerHTML]="'landingPage.features' | translate"></p>
    <div class="features sub-title">
      <p [innerHTML]="'landingPage.feature0' | translate"></p>
      <p [innerHTML]="'landingPage.feature1' | translate"></p>
      <p [innerHTML]="'landingPage.feature2' | translate"></p>
    </div>
  </section>
  <section id="third" #third>
    <h1 [innerHTML]="'landingPage.title2' | translate"></h1>
    <p class="sub-title" [innerHTML]="'landingPage.subTitle2' | translate"></p>
    <div class="sign-up-button">
      <button mat-flat-button [routerLink]="'/auth/login'">{{ 'landingPage.button' | translate }}</button>
    </div>
    <div>
      <button mat-fab (click)="scrollToElement(first)">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
    </div>
  </section>
</div>
