<div *ngIf="content" class="content" [ngClass]="{mobile: isMobile}">

  <div class="status-box" *ngIf="state === 'form'">
    <span *ngIf="content.status === Status.draft" [@opacity-1]
          class="status"> {{ 'editContentPage.draft' | translate }}</span>
    <span *ngIf="content.status === Status.pending" [@opacity-1]
          class="status"> {{ 'editContentPage.pending' | translate }}</span>
    <span *ngIf="content.status === Status.published && !authService.userInfo.isPremiumUser" [@opacity-1]
          class="status"> {{ 'editContentPage.published' | translate }}</span>
  </div>

  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'form'"
      [ngTemplateOutlet]="form"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'load'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="form"></ng-container>
  </ng-container>
</div>

<ng-template #form>
  <h1>{{ (content.id ? "editContentPage.editTitle" : "editContentPage.createTitle") | translate }}</h1>
  <br *ngIf="!content.actions?.canEdit">
  <div class="editor" *ngIf="editor != undefined" [@opacity-1]>

    <form [formGroup]="formGroup">

      <div class="title">
        <mat-form-field appearance="outline">
          <mat-label>{{ "editContentPage.contentTitle" | translate }}</mat-label>
          <input
            matInput
            formControlName="title"
            [placeholder]="'editContentPage.contentTitlePlaceholder' | translate"
          />
          <mat-error
            *ngIf="hasErrors && formGroup.get('title')?.valid == false"
          >
            {{ getErrors("title") }}
          </mat-error>
        </mat-form-field>


      </div>
      <div class="tags">


        <div *ngIf="!content.actions?.canEdit">
          <mat-chip-listbox>
            <mat-chip-row *ngFor="let tag of content.tags">
              {{ tag }}
            </mat-chip-row>
          </mat-chip-listbox>
        </div>

        <mat-form-field appearance="outline" *ngIf="content.actions.canEdit">
          <mat-label>{{ 'editContentPage.tags' | translate }}</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of content.tags" (removed)="remove(tag)">
              {{ tag }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>

          <input #tagsInput
                 matInput
                 [placeholder]="'#'"
                 [formControl]="tagCtrl"
                 [matChipInputFor]="chipGrid"
                 [maskito]="maskitoOpt"
                 [matAutocomplete]="auto"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add()"
          />
          <mat-icon
            matSuffix
            [matTooltip]="'editContentPage.tagHint' | translate"
            [matTooltipPosition]="'left'"
          >
            help_outline
          </mat-icon>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags">{{ tag }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="pre-view">
        <mat-form-field appearance="outline">
          <mat-label>
            {{ "editPreviewDialog.title" | translate }}
          </mat-label>
          <textarea matInput
                    maxlength="255"
                    [cdkTextareaAutosize]="true"
                    formControlName="preView">
        </textarea>
          <mat-hint
            *ngIf="content.actions.canEdit"
            align="end">{{ contentLength }}/255</mat-hint>
          <mat-icon
            *ngIf="content.actions.canEdit"
            matSuffix
            [matTooltip]="'editPreviewDialog.hint' | translate"
            [matTooltipPosition]="'left'"
          >
            help_outline
          </mat-icon>
          <mat-error *ngIf="hasErrors">
            {{ getErrors('content') }}
          </mat-error>
        </mat-form-field>
      </div>
      <br/>

      <div class="menu" *ngIf="content.actions.canEdit">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor-floating-menu [editor]="editor">
          <ngx-editor-menu [editor]="editor" [toolbar]="shortToolbar"></ngx-editor-menu>
        </ngx-editor-floating-menu>
      </div>
      <br/>

      <ngx-editor [editor]="editor"
                  [outputFormat]="'html'"
                  [spellcheck]="true"
                  formControlName="content"
                  [placeholder]="'editContentPage.placeholder' | translate">

      </ngx-editor>
    </form>
    <div class="buttons">

      <button mat-flat-button type="submit"
              *ngIf="content.actions.canEdit"
              (click)="submit()">
        {{ "editContentPage.submit" | translate }}
      </button>

      <button
        *ngIf="content.id"
        mat-stroked-button
        routerLink="/content/view/{{ content.id }}"
      >
        {{ "editContentPage.view" | translate }}
      </button>

      <button
        mat-flat-button
        *ngIf="content.actions.canPublish"
        (click)="changeStatus(Status.published)"
      >
        {{ "editContentPage.publish" | translate }}
      </button>

      <button
        mat-flat-button
        *ngIf="content.actions.canUnpublish"
        (click)="changeStatus(Status.draft)"
      >
        {{ "editContentPage.unpublish" | translate }}
      </button>

      <button
        *ngIf="content.id"
        mat-flat-button
        color="warn"
        (click)="delete()"
      >
        {{ "editContentPage.delete" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #load>
  <br>
  <ngx-skeleton-loader count="2"
                       [theme]="{'width': '75%'}"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="14"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1"
                       [theme]="{width : '30%'}"></ngx-skeleton-loader>
  <br>
</ng-template>
