<div class="profile" [ngClass]="{ 'mobile': isMobile }">
  <mat-card>
    <mat-card-header>
      <h1>{{ "profilePage.title" | translate }}</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="save()">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ "profilePage.nickName" | translate }}</mat-label>
            <input
              matInput
              formControlName="nickName"
            />
            <mat-icon matPrefix>alternate_email</mat-icon>
            <mat-error
              *ngIf="hasErrors && formGroup.get('nickName')?.valid == false"
            >
              {{ getErrors("nickName") }}
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>{{ "profilePage.changePassword" | translate }}</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="123@#$5hg"
              formControlName="password"
            />
            <button
              mat-icon-button
              matPrefix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="hasErrors && formGroup.get('password')?.valid == false"
            >
              {{ getErrors("password") }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="buttons" [ngClass]="{ 'mobile': isMobile }">
          <button mat-flat-button type="submit" (click)="save()">
            {{ "profilePage.save" | translate }}
          </button>
        </div>
      </form>
      <mat-card-footer *ngIf="loading">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-card-footer>
    </mat-card-content>
  </mat-card>
</div>
