@import "src/app/theme/utils";

.profile {
  padding: 20px;
  margin: auto;
  max-width: 600px;

  .load {
    padding: 20px 20px 5px 20px;
  }

  .about {
    padding-top: 10px;
    padding-left: 30px;
  }

  h1 {
    margin-left: 20px;
  }

  .email {
    cursor: pointer;
  }

  mat-card {
    padding: 10px;
  }

  mat-card-content {
    min-height: 60px;
  }

  mat-card-title {
    padding-top: 10px;
  }
}

.buttons {

  padding: 5px 15px;

  button {
    margin: 10px;
  }
}

.mobile {
  mat-card {
    padding: 0;
  }

  .mat-mdc-card-avatar {
    padding: 10px;
  }
}

.mat-mdc-card-avatar {
  padding: 10px 15px;
}
