<div class="profile" [ngClass]="{ 'mobile': isMobile }">
  <h1>{{ "profilePage.title" | translate }}</h1>
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'form'"
      [ngTemplateOutlet]="form"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'load'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="form"></ng-container>
  </ng-container>
</div>


<ng-template #load>
  <mat-card class="load">
    <ngx-skeleton-loader count="1" [theme]="{width: '75%'}"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
    <ngx-skeleton-loader count="1" [theme]="{width: '50%'}"></ngx-skeleton-loader>
  </mat-card>
</ng-template>

<ng-template #form>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar *ngIf="info.image">
        <img src="{{ info.image }}" alt="avatar">
      </div>

      <div mat-card-avatar *ngIf="!info.image">
        <button
          mat-fab
          color="primary"
          (click)="addImage()"
        >
          <mat-icon>
            account_circle
          </mat-icon>
        </button>
      </div>
      <mat-card-title>{{ 'profilePage.nickname' | translate : {nickname: info.nickname} }}</mat-card-title>
      <mat-card-title>
        <span (click)="hideEmail = !hideEmail" class="email" [matTooltip]="'profilePage.emailToolTip' | translate"
              [matTooltipPosition]="'right'">
          {{ 'profilePage.email' | translate : {email: hideEmail ? '*'.repeat(info.email.length) : info.email} }}
        </span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="about">
<!--      <p>-->
<!--        {{ (info.about) ? info.about : 'profilePage.noAbout' | translate }}-->
<!--      </p>-->
    </mat-card-content>
    <mat-card-actions class="buttons">
      <button
        mat-flat-button
        (click)="openEditDialog()"
      >
        {{ 'profilePage.edit' | translate }}
      </button>
      <button
        mat-button
        (click)="resetPassword()"
      >
        {{ 'profilePage.resetPassword' | translate }}
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
