@import "src/app/theme/utils";

.login {
  padding-top: 70px;
  margin: auto;
  display: flex;
  justify-content: center;

  .social-buttons {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

    .social-img {
      display: flex;
      width: 30px;
      height: 30px;
    }
  }

  form {
    padding: 20px 80px;

    div {
      margin: 10px;
    }

    div:not(:last-child) {
      margin-bottom: 25px !important;
    }
  }

  .hint-red {
    color: @errorColor;
  }

  h1 {
    margin: 10px auto;
  }

  .reg-hint {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 16px;
  }

  mat-card {
    margin: 10px;
  }
}

.login-mobile {
  padding-top: 6em;

  form {
    padding: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.restore-link {
  cursor: pointer;
}

.restore-link:hover {
  color: @thirdColor;
}

.errors {
  text-align: center;
  color: @errorColor;
}
