@import "src/app/theme/utils";
@import "src/app/theme/common";

.login {
  padding-top: 70px;
  margin: auto;
  display: flex;
  justify-content: center;

  form {
    padding: 20px 80px;

    div {
      margin: 10px;
    }
  }

  .hint-red {
    color: @errorColor;
  }

  h1 {
    margin: 10px auto;
  }

  mat-card {
    margin: 10px;
  }

  .registration-button {
    display: flex;
    flex-direction: column;
  }
}

.login-mobile {
  padding-top: 10px;

  form {
    padding: 20px;
  }
}


.login-mobile {
  padding-top: 10px;

  form {
    padding: 20px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.restore-link {
  cursor: pointer;
}

.restore-link:hover {
  color: @primaryColor;
}

.buttons-mobile {
}
