<div class="login">

  <mat-card>
    <mat-card-header>
      <h1>Авторизация</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput [type]="'email'" placeholder="example@domain.com" formControlName="emailCtrl" required>
            <mat-icon matSuffix>alternate_email</mat-icon>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Введите пароль</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="123@#$5hg" formControlName="passwordCtrl" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="restore-link" align="end" (click)="goToRestorePassword()">Забыли пароль?</mat-hint>
          </mat-form-field>
        </div>

        <div class="buttons">
          <button mat-stroked-button type="submit" color="warn" (click)="login()">Авторизоваться!</button>
          <button mat-stroked-button type="submit" color="primary" (click)="goToReg()">Регистрация</button>
        </div>
      </form>
      <div class="social"></div>

    </mat-card-content>

  </mat-card>
</div>

