@import "src/app/theme/utils";

.summary {
  margin: auto;
  max-width: 1000px;

  .flex {
    display: flex;
    justify-content: space-between;
  }

  trends {
    width: 70%;
  }

  topics {
    width: 30%;
  }
}


.mobile {
  trends {
    width: 100%;
  }
}
