@import "src/app/theme/utils";

.summary {
  margin: auto;
  max-width: 1000px;

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .line {
    width: 70%;
  }

  right-widget {
    width: 30%;
  }
}

.mobile {
  .line, right-widget {
    width: 100%;
  }

  .flex {
    flex-direction: column-reverse;
  }
}

.float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
  z-index: 1000;
  cursor: pointer;
}
