@import "src/app/theme/utils";

.summary {
  margin: auto;

  mat-card {
    margin: 20px;
    width: 100%;
    height: 100%;
  }
  h1 {
    margin: 10px auto;
  }
}

.mobile {

  mat-card {
    margin: 10px;
  }
}

.mobile-topics {
  padding: 5px 20px;
}
