<div class="registration">

  <mat-card>
    <mat-card-header>
      <h1>Регистрация</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput [type]="'email'" placeholder="example@domain.com" formControlName="emailCtrl" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Введите пароль</mat-label>
            <input matInput [type]="'password'" placeholder="123@#$5hg" formControlName="passwordCtrl" required>
            <mat-hint *ngIf="formGroup.get('passwordCtrl')?.value != ''">
              <span class="hint-{{passwordIndicator.color}}">
                Ваш пароль {{ passwordIndicator.state }}
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Повторите пароль</mat-label>
            <input matInput [type]="'password'" placeholder="123@#$5hg" formControlName="passwordRepeatCtrl" required>
            <mat-hint *ngIf="passNotEqual">
              <span class="hint-red">
                Пароли не совпадают
              </span>
            </mat-hint>
          </mat-form-field>
        </div>

        <div class="buttons">
          <button mat-stroked-button type="submit" color="warn" (click)="goTo()">Вперед!</button>
        </div>
      </form>

      <div class="social"></div>

    </mat-card-content>

  </mat-card>
</div>

