@import "src/app/theme/utils";

.registration {
  padding-top: 70px;
  margin: auto;
  display: flex;
  justify-content: center;

  form {
    padding: 20px 80px;

    div {
      margin: 10px;
    }
  }

  .hint-red {
    color: @errorColor;
  }

  h1 {
    margin: 10px auto;
  }
}


.buttons {

  button {
    display: block;
    margin: 30px auto;
    width: 100%;
  }
}
