@import "src/app/theme/utils";

.confirm-registration {
  padding-top: 70px;
  margin: auto;
  display: flex;
  justify-content: center;
  max-width: 50%;

  .spinner {
    margin: 50px;
  }

  h1 {
    margin: 10px auto;
  }
}
