<div class="topics">
  <div class="topics-header">
    <h1>{{ "summaryPage.mostTopics" | translate }}</h1>
  </div>
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'data'"
      [ngTemplateOutlet]="data"
    ></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="load"></ng-container>
  </ng-container>
</div>

<ng-template #data>

  <mat-card *ngIf="topics.length > 0" [@opacity-1]>
    <mat-card-content>
      <div class="topic">
        <span *ngFor="let topic of topics" (click)="goToSearch(topic)">{{ topic }}</span>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #load>
  <mat-card>
    <mat-card-content>
      <br>
      <ngx-skeleton-loader count="2"></ngx-skeleton-loader>
    </mat-card-content>
  </mat-card>
</ng-template>
