/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/theme/common";
@import "app/theme/utils";

html, body {
  height: 100%;
  background-color: @backgroundColor;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
