<div *ngIf="content" class="content" [ngClass]="{ mobile: isMobile }">
  <h1>{{ "editArticlePage.title" | translate }}</h1>

  <div class="editor" *ngIf="editor != undefined">

    <form [formGroup]="formGroup">
      <div class="title">
        <mat-form-field appearance="outline">
          <mat-label>{{ "editArticlePage.articleTitle" | translate }}</mat-label>
          <input
            matInput
            formControlName="title"
            required
            [placeholder]="'editArticlePage.articleTitlePlaceholder' | translate"
          />
          <mat-error
            *ngIf="hasErrors && formGroup.get('title')?.valid == false"
          >
            {{ getErrors("title") }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="menu">
        <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
      </div>
      <br/>

      <ngx-editor [editor]="editor"
                  [outputFormat]="'html'"
                  formControlName="content"
                  [placeholder]="'editArticlePage.placeholder' | translate">

      </ngx-editor>
      <ngx-editor-floating-menu [editor]="editor"></ngx-editor-floating-menu>
    </form>
    <div class="buttons">
      <button mat-flat-button type="submit" (click)="submit()">
        {{ "editArticlePage.submit" | translate }}
      </button>
    </div>
  </div>

  <div *ngIf="state == 'loading'">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
  </div>

</div>
