<div *ngIf="content" class="content" [ngClass]="{mobile: isMobile}">
  <h1>{{ "editArticlePage.title" | translate }}</h1>
  <ng-container [ngSwitch]="state">
    <ng-container
      *ngSwitchCase="'form'"
      [ngTemplateOutlet]="form"
    ></ng-container>

    <ng-container
      *ngSwitchCase="'load'"
      [ngTemplateOutlet]="load"
    ></ng-container>

    <ng-container *ngSwitchDefault [ngTemplateOutlet]="form"></ng-container>
  </ng-container>
</div>

<ng-template #form>
  <br>
  <div class="editor" *ngIf="editor != undefined" [@opacity-1]>

    <form [formGroup]="formGroup">
      <div class="title">
        <mat-form-field appearance="outline">
          <mat-label>{{ "editArticlePage.articleTitle" | translate }}</mat-label>
          <input
            matInput
            formControlName="title"
            [placeholder]="'editArticlePage.articleTitlePlaceholder' | translate"
          />
          <mat-error
            *ngIf="hasErrors && formGroup.get('title')?.valid == false"
          >
            {{ getErrors("title") }}
          </mat-error>
        </mat-form-field>


      </div>
      <div class="tags">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'editArticlePage.tags' | translate }}</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let tag of content.tags" (removed)="remove(tag)">
              {{ tag }}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>

          <input #tagsInput
                 matInput
                 [placeholder]="'#'"
                 [formControl]="tagCtrl"
                 [matChipInputFor]="chipGrid"
                 [maskito]="maskitoOpt"
                 [matAutocomplete]="auto"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="add()"
          />
          <mat-icon
            matSuffix
            [matTooltip]="'editArticlePage.tagHint' | translate"
            [matTooltipPosition]="'left'"
          >
            help_outline
          </mat-icon>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags">{{ tag }}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="menu">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
      </div>
      <br/>

      <ngx-editor [editor]="editor"
                  [outputFormat]="'html'"
                  formControlName="content"
                  [placeholder]="'editArticlePage.placeholder' | translate">

      </ngx-editor>
    </form>
    <div class="buttons">
      <button mat-flat-button type="submit" (click)="submit()">
        {{ "editArticlePage.submit" | translate }}
      </button>

      <button
        [@opacity-1]
        *ngIf="content.id && formGroup.valid"
        mat-stroked-button
        (click)="preview()"
      >
        {{ "editArticlePage.preView" | translate }}
      </button>

      <button
        mat-flat-button
        [@opacity-1]
        *ngIf="canPublish"
        (click)="changeStatus(Status.published)"
      >
        {{ "editArticlePage.publish" | translate }}
      </button>

      <button
        mat-flat-button
        [@opacity-1] *ngIf="canUnpublish"
        (click)="changeStatus(Status.draft)"
      >
        {{ "editArticlePage.unpublish" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #load>
  <br>
  <ngx-skeleton-loader count="1"
                       [theme]="{'width': '100%', 'height.px': '50', 'border-radius.px': '30'}"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1"
                       [theme]="{'height.px': '50', 'border-radius.px': '30'}"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1" [theme]="{'height.px': '400', 'border-radius.px': '30'}"></ngx-skeleton-loader>
  <br>
  <ngx-skeleton-loader count="1"
                       [theme]="{'height.px': '30', width : '20%', 'border-radius.px' : '30'}"></ngx-skeleton-loader>
  <br>
</ng-template>
