.content {
  padding: 20px;
  margin: auto;
  max-width: 600px;
  font-size: 16px;
}

::ng-deep {
  div.NgxEditor {
    min-height: 300px !important;
    overflow: scroll;
  }

  .NgxEditor__Content {
    padding: 20px !important;
    min-height: 300px !important;
  }
}

.buttons {
  padding: 20px;
}

.menu {
  display: flex;

  ngx-editor-menu {
    margin: auto;
  }
}

.title {
  mat-form-field {
    width: 100%;
  }
}
